
<ion-view view-title="Player">
  <ion-content>
    <div class="bar bar-header bar-royal">
      <h1 class="title">Player</h1>
    </div>
    Skillet - the Resistance
    <hr>
    <h3>Duration : {{duration}}</h3>
    <h3>Position: <span id="audio_position"></span></h3>
    <div id="control">

      <button type="button" ng-click="play()" class="play" ng-hide="playState"></button>
      <button type="button" ng-click="pause()" class="stop" ng-hide="stopState"></button>
    </div>






  </ion-content>
</ion-view>
